.post-container {
}

.post {
  border: 1px solid #323436;
}

.post__header {
  display: flex;
  position: relative;
  margin: 1rem 0 0 1rem;
}

.post__profilepic {
  border-radius: 50%;
  margin: 1px;
}

.post__headertext {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.post__title {
  font-weight: 500;
}

.post__time {
  color: #727477;
}

.post__menu {
  position: absolute;
  right: 5%;
  top: 10px;
}

.post__main {
  padding: 1rem;
}

.post__footer {
  position: relative;
  padding-bottom: 15px;
}

.post__icon {
  display: flex;
  gap: 8px;
}

.post__bookmark {
  position: absolute;
  right: 5%;
  bottom: 14px;
}

/* combi-selectors */
.post__icon img {
  margin-left: 15px;
}

.post__main p {
  color: #ecebed;
  padding-right: 3rem;
  font-weight: 300;
}

.post__main img {
  border: none;
  border-radius: 16px;
  margin-right: 1rem;
}
